<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/angular/angular.js"></script>
<script src="~/Scripts/angular/angular-route.js"></script>
<script src="~/Scripts/app.js"></script>

<style type="text/css">
    .texto-config {
        width: 200px;
    }

    .campo-config {
        width: 200px;
    }

    .container-postite {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        margin: 0px auto;
        position: relative;
        float: left;
        margin-top: 20px;
        padding: 30px;
        font-family: 'Comic Sans MS';
        font-size: 12px;
        letter-spacing: 1.5px;
        background-color: #fff;
        margin-left: 10px;
    }
</style>

<div id="add_postite" ng-app="postiteApp" ng-controller="postiteCtrl">
    <div style="border:1px solid #c8c6c6; padding:10px; clear:both; ">
        <form ng-submit="submit()">
            <div class="texto-config">Nº Branch: </div><input type="text" ng-model="id" class="campo-config" placeholder="Gitlab Branch ID (#xxx)" />
            <br />
            <div class="texto-config">Desenvolvedor: </div>

            <select ng-model="Desenvolvedor" class="campo-config">
                <option ng-repeat="x in Desenvolvedores" value="{{x.Valor}}">{{x.Nome}}</option>
            </select>
            <br />
            <div class="texto-config">Ambiente Situacao: </div>

            <select ng-model="AmbienteSituacao" class="campo-config">
                <option ng-repeat="y in AmbienteSituacoes" value="{{y.Valor}}">{{y.Nome}}</option>
            </select>

            <br />
            <br />

            <input type="submit" value="submit" />
            <input type="button" ng-click="Deletar()" value="Remover" />
        </form>
    </div>
    <div style="clear:both;">
        <header ng-repeat="branch in Branchs">
            <div ng-repeat="info in branch">
                <div class="container-postite">
                    {{ info.Id }}
                    {{ info.Desenvolvedor }}
                    {{ info.AmbienteSituacao }}
                </div>
            </div>
        </header>

        <div id="message"></div>
    </div>
</div>
